{% extends "base.html" %}

{% load human_size %}

{% block title %}Frequently asked questions{% endblock %}
{% block ogtitle %}Frequently asked questions{% endblock %}

{% block content %}
  	<!--begin services section -->
    <section class="section-grey section-top-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-8-->
                <div class="col-md-8 offset-md-2 text-center padding-bottom-10 left-text">
                    <h3>Frequently asked questions</h3>

                    <p>
                    Here are the answers to all your questions, and to some you wish you didn't have.
                    </p>


                    <h4>What's this about?</h4>

                    <p>
                    What does it look like? It's an image sharing service. You upload your image, you get a URL back,
                    you share it. No social crap, no nothing. All other hosts suck because they try to give away service
                    for free but then realize you can't make money if you don't make money, so they start selling your
                    data or putting ads over photos of your mother in law or whatever.
                    </p>

                    <p>
                    IMGZ has discovered a simple and revolutionary solution to avoid doing any of that: We charge you
                    for the service we provide. Mind-blowing.
                    </p>


                    <h4>Why are you so angry?</h4>

                    <p>
                    I'm running a fucking image sharing service. Wouldn't you be angry?
                    </p>

                    <h4>Is there an API?</h4>

                    <p>
                    Yes.
                    </p>


                    <h4>Can I upload images from my computer?</h4>

                    <p>
                    Yeah, <code>pip install imgz-cli</code> then <code>imgz /some/file/path.png</code> to upload.
                    </p>


                    <h4>What if I'm being shitty and upload illegal material?</h4>

                    <p>
                    You better not because I'm going to delete your account with all the images and any trace
                    of payment, and you aren't getting any money back. I'm just going to deny I know you. So DON'T DO
                    IT.
                    </p>


                    <h4>Does bandwidth cost extra?</h4>

                    <p>
                    No. I don't know. It's not a problem yet. If it becomes a problem, I'll make it your problem, but
                    I think we're gonna be okay.
                    </p>


                    <h4>What if I need support?</h4>

                    <p>
                    I guess you paid, so you're entitled to some. Email me at <a
                        href="mailto:hi@stochastic.io">hi@stochastic.io</a> but don't ask too much and try to figure
                    stuff out yourself beforehand. If you're on the free trial, try harder.
                    </p>

                    <h4>What if I</h4>

                    <p>
                    Enough with the questions, goddamn!
                    </p>

                    <h4>Yes but your tone is putting me off</h4>

                    <p>
                    Listen, this is half service, half art project. I made it in two days because I needed one and Imgur
                    is an embarrassing husk of its former self, and I had nothing better to do. If you're expecting
                    professionalism, call Oracle and ask for a quote of Oracle Advanced Image Sharing for Hadoop or
                    whatever crap they sell, IMGZ is awesome but what you see is what you get.
                    </p>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->
{% endblock %}
